// Colors
$primaryColor: hsl(0, 0%, 0%);
$secondaryColor: hsl(0, 1%, 35%);
$tertiaryColor: hsl(248, 97%, 65%);

$white: hsl(0, 0%, 100%);
$secondaryBg: hsl(48, 45%, 98%);


$gradient1: hsl(284, 74%, 88%);
$gradient2: hsl(333, 56%, 93%);
$burgerBg: hsla(0, 0%, 0%, 0.568);

// Media queries
$mobile: 375px;
$tablet:768px;
$desktop: 1024px;

// Typography
$primaryFont: 'DM Sans', sans-serif;