@use '../base/variables' as v ;
@use '../base/mixins' as m ;

.header {
  padding: 2rem 0;
  background:radial-gradient(
    circle at 0% 5%, 
    #ebcaf7 0%, 
    #fcfbf7 19%);
    
    &__hero {
      padding: 5rem 0;
      @include m.grid(1,4rem);
      @include m.desktop { 
        @include m.grid(8,4rem);
        min-height: 60vh;
        align-items: center;
       }
    }

    &__top {
      @include m.desktop { 
        grid-column: 5/9;
      }
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      max-width: 70%;
      @include m.tablet { 
        max-width:50%
       }
       @include m.desktop { 
        max-width: 100%;
        }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      @include m.desktop { 
       grid-column: 1/5;
       grid-row: 1/2;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

    }

    &__heading {
      color: v.$primaryColor;
      line-height: 1.1;
      font-size: 5rem;
      font-weight: 700;
      @include m.tablet { 
        font-size: 6rem;
         max-width: 60rem;
       }
    }

    &__subheading {
      font-weight: 400;
      font-size: 1.6rem;
      @include m.tablet { 
        font-size: 1.8rem;
        max-width: 60rem;
       }
    }

    &__users {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    &__text {
      @include m.tablet { 
        font-size: 1.8rem;
       }
    }

    &__span {
      color: v.$tertiaryColor;
      font-weight: 700;
    }


}